.btn-outline-light {
    color: #6aa5e0;
    border-color: #5b6f83;
    border-radius: 0% !important;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: bold;
}

.active
{
    border:none !important;
    color: rgb(77, 12, 121);
    background-color: #5bff317a !important;
}

.custom-select
{
    background: #fff url('../../../assets/images/arrow_drop_down.png') no-repeat right 0.75rem center/10px 10px;
    box-shadow: none !important;
}


.custom-input
{
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px;
    &>.custom-select,.form-control
    {
        border: none !important;
        box-shadow: none !important;
        border-radius: none !important;
        outline: none !important;
    }
}

#country
{
    padding: 2px !important;
    input 
    {
        cursor: pointer;
        width:134%;
    }
}

input
{
  &:focus
  {
      &>h5  
      {
          color: blue;
      }
  }
}

.code 
{
    background-color: antiquewhite;
}



