.form-control
{
    height: calc(2.1em + 0.75rem + 2px);
    border-radius: 0%;
    box-shadow: none !important;
    outline: none !important;
}

input 
{
    text-align: center;

    &:focus 
    {
        border: 1px solid #5e830f !important;
    }
}