@import "~bootstrap/dist/css/bootstrap.css";
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '~flag-icon-css/css/flag-icon.css';
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Darker+Grotesque:wght@300&family=Titillium+Web&display=swap');


.form-box 
{
    background-color: white;
    padding: 25px;
    border-radius: 4px;
}

#mobile
{
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text]
{
    display: none !important;
}
.iti__arrow {
    margin-left: 5px;
    display: none;
}


}

#phone
{
    .custom-input
    {
        height: 2.4em;
    }
    .code 
    {
        height: 1.9em;
    }
    .form-control
    {
        height: 1em;
    }
}

.dialcode
{
    font-size: 15px;
}

#country
{
    .col-11
    {
        max-width: 96% !important;
    }
}
.flag-icon
{
    font-size: 13px;
}

body
{
    background-color:#e2e9f0;
    overflow-x: hidden;
}

label
{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.backbtn 
{
    background-color: antiquewhite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bs-stepper .step-trigger:disabled {
    opacity: 1.65;
}

.error-text 
{
    color: red;
}

.main-heading 
{
    font-size: xx-large;
}
// @media only screen and (min-width: 1200px) {
//  .flag-icon
// {
//     font-size: 20px !important;
// }
// }

@media only screen and (min-width: 992px) {
    .flag-icon
    {
        font-size:14px !important;
    }
}

.form-control
{
    box-shadow: none !important;
    outline: none;
}



.iti--allow-dropdown input
{
 padding-left: 28px;
}

.inputdiv
{
    .form-control:focus,input:focus
    {
        border: 2px solid #36d836;
        &~.form-control-label
        {
            color:  #36d836;
        }
    }
}

.focusedborder
{
    border: 1px solid #29ea29 !important;
}

.labelcol
{
    color: #29ea29 !important;
}
