@import "~bootstrap/dist/css/bootstrap.css";
@import '~bs-stepper/dist/css/bs-stepper.min.css';
@import '~flag-icon-css/css/flag-icon.css';
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Darker+Grotesque:wght@300&family=Titillium+Web&display=swap');


.form-box 
{
    background-color: white;
    padding: 25px;
    border-radius: 4px;
}

#mobile
{
.iti--allow-dropdown input, .iti--allow-dropdown input[type=text]
{
    display: none !important;
}
.iti__arrow {
    margin-left: 5px;
    display: none;
}


}

.flag-icon
{
    font-size: 70px;
}

body
{
    background-color:#e2e9f0;
    overflow-x: hidden;
}

label
{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.backbtn 
{
    background-color: antiquewhite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bs-stepper .step-trigger:disabled {
    opacity: 1.65;
}

.error-text 
{
    color: red;
}

.main-heading 
{
    font-size: xx-large;
}
